.bio {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bio h2,
.bio p {
    margin: 1ex 1em;
}

.button {
    margin: 1em auto !important;
    font-size: small;
    align-self: center;
}
