.chatWrapper {
    margin: auto;
    width: 650px;
    -webkit-border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border-radius: 80px;
    box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: var(--pink-and-green);
    padding: 1em 0.5em 0.5em 0.5em;
}
.chatWrapper h1 {
    margin: auto;
}
.chats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    -webkit-border-radius: 80px;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius: 80px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-topright: 40px;
    border-radius: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.5);
    padding: 1em;
}
.bubbleWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    padding: 1em;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 400px;
    overflow-y: scroll;
}

.form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1em 2em;
}
.form textarea {
    margin: 1em auto;
    width: 400px;
    border-radius: 30px;
    padding: 1em;
}
.form button {
    margin: auto;
}
