.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border-radius: 0px 0px 70% 70%; */
}
.logoWrapper {
    position: relative;
    background-color: black;
    width: 200px;
    -webkit-border-bottom-right-radius: 75px;
    -moz-border-radius-bottomright: 75px;
    border-bottom-right-radius: 75px;
}
.logoWrapper h1 {
    position: absolute;
    top: 29px;
    left: 35px;
    font-size: 40px;
    color: var(--ghost-white);
    text-shadow: 0px 0px 3px rgba(135, 121, 181, 1);
}
.profilePicWrapper {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0em 1em 0em 2em;
    -webkit-border-bottom-left-radius: 75px;
    -moz-border-radius-bottomleft: 75px;
    border-bottom-left-radius: 75px;
    margin: 0px;
}
.logOut {
    margin: 0px 0px auto 1em;
}
.logOut button {
    font-size: medium;
    margin: 0px 0px 0px auto;
}
.title {
    margin: 0px auto auto auto;
    padding: 1em;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    -webkit-border-bottom-left-radius: 200px;
    -moz-border-radius-bottomleft: 200px;
    border-bottom-left-radius: 200px;
    -webkit-border-bottom-right-radius: 200px;
    -moz-border-radius-bottomright: 200px;
    border-bottom-right-radius: 200px;
    background-image: linear-gradient(
        to top,
        #1f2041,
        #26264a,
        #2e2b53,
        #36315d,
        #3f3766,
        #3e4273,
        #3b4d80,
        #36588c,
        #196a9a,
        #007ca2,
        #008da5,
        #119da4
    );
}
.title h1,
.title p {
    margin: auto;
    align-self: center;
}
.title h1 {
    font-size: 50px;
}
