.logo {
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* max-width: 100vw;
    max-height: 100vh; */
    width: 100%;
    height: 100%;
    margin: 0px;
    height: 100%;
}
.circleSvg {
    margin: auto;
}
