.logo {
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.logoName {
    /* font-size: clamp(1em, 1em + 8vw, 3em); */
}
.logoText {
    fill: purple;
    width: 100%;
}
