.otherProfile {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2em;
    grid-area: content;
    background-color: black;

    padding: 1em 2em 1em 2em;
    width: 70%;
    -webkit-border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border-radius: 100px;
}
.infoWrapper {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
}
.bio {
    margin: 1rem;
}
