.person {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0.5em 0.5em;
    width: 250px;
    margin: auto;
    background-color: black;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.56);
    box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.56);
}
.person .profile-pic {
    margin: 0px !important;
}
.link {
    margin: auto auto auto 0px;
}
