body {
    background-color: var(--dark-grey);
}
:root {
    /* CSS */
    --space-cadet: hsla(238, 35%, 19%, 1);
    --cyber-grape: hsla(254, 29%, 35%, 1);
    --orange-soda: hsla(12, 85%, 60%, 1);
    --ghost-white: hsla(288, 29%, 97%, 1);
    --dark-grey: hsla(0, 0%, 7%, 1);
    --viridian-green: hsla(183, 81%, 35%, 1);
    --blue-sapphire: hsla(195, 67%, 30%, 1);
    --button-bg: rgb(135, 121, 181);
    --button-gradient: linear-gradient(
        90deg,
        rgba(135, 121, 181, 1) 30%,
        rgba(67, 227, 235, 1) 100%
    );
}
/* background: rgb(135,121,181);
background: linear-gradient(90deg, rgba(135,121,181,1) 30%, rgba(67,227,235,1) 100%);  */
